[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
future = "*"
requests-oauthlib = "*"

[requires]
python_version = "3.7"
