[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
urllib3 = ">=1.24.2"

[packages]
requests = "*"
future = "*"
requests-oauthlib = "*"
urllib3 = ">=1.24.2"

[requires]
python_version = "3.7"
