[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
responses = "*"
flake8 = "*"
wheel = "*"
pytest-cov = "*"
codecov = "*"

[packages]
requests = "*"
future = "*"
requests-oauthlib = "*"
pytz = "*"

[requires]
python_version = "3.7"
